name: Docker CI Learning - KUCL 
on:
  push:
jobs:
  docker_1:
    runs-on: ubuntu-latest 
      #labels: kucl22 
         
    steps:
      -
        name: Set up QEMU test
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME}}/devops:newactions
  deploy:
    needs: docker_1
    name: deploy image
    runs-on: 
      labels: devops
    steps:
      - name: connect and pull
        run: ssh ${{ vars.S_USER }}@${{ vars.D_HOST }} "docker run -d --name alpha ${{ secrets.DOCKERHUB_USERNAME}}/devops:newactions"
